export DATABASE_FILE="data/data.sqlite"
export DATABASE_URL="sqlite://$DATABASE_FILE"
export DOCKER_BUILDKIT=1
export BUILDKIT_PROGRESS=plain
export RUST_BACKTRACE=1

# Add /scripts to PATH 
if command -v PATH_add &> /dev/null; then
    # command -v assures that PATH_add is only executed when sourced from direnv
    PATH_add "$PWD/scripts"
fi

use flake

source_env_if_exists .envrc.private


# vim: set ft=sh :
