export DATABASE_URL=sqlite://data/data.sqlite
export DOCKER_BUILDKIT=1
export BUILDKIT_PROGRESS=plain

# Add /scripts to PATH 
if command -v PATH_add &> /dev/null; then
    # command -v assures that PATH_add is only executed when sourced from direnv
    PATH_add "$PWD/scripts"
fi

if type -P lorri &>/dev/null; then
    # see https://github.com/nix-community/lorri
    eval "$(lorri direnv)"
elif type -P nix &>/dev/null; then
    echo 'while direnv evaluated .envrc, could not find the command "lorri" [https://github.com/nix-community/lorri]'
    use nix
    # you can add parameters to the nix-shell as well, e.g.
    # use nix --command zsh
fi

source_env_if_exists .envrc.private
