[package]
name = "propolis"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
tokio = { version = "1.25.0", features = ["full"] }
axum = "0.6.6"
sqlx = { version = "0.6.2", features = ["sqlite", "macros", "runtime-tokio-rustls", "offline"] }
dotenvy = "0.15.6"
serde = { version = "1.0.152", features = ["derive"] }
askama = "0.11.1"
tower-cookies = "0.9.0"
rand = "0.8.5"
timediff = "0.2.3"
chrono = "0.4.23"

[profile.dev.package.sqlx-macros]
# speed up compile time verification (https://github.com/launchbadge/sqlx#compile-time-verification)
# opt-level = 3

[profile.release]
lto = true # link time optimization
