
/*@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');*/
/* for medium */
@import url('https://fonts.googleapis.com/css2?family=Lora&family=Archivo&display=swap');

/* for milligram */
@import url('https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic');

/* for Sepia */
@import url('https://fonts.cdnfonts.com/css/libertinus-serif');
@import url('https://fonts.cdnfonts.com/css/libertinus-sans');

html[data-theme='dark'] {
	/* foreground   | background color */
	--cfg:   #cecbc4; --cbg:    #252220;
	--cdark: #999;    --clight: #333;
	--cmed:  #566;
	--clink: #1ad;
	--cemph: #0b9;    --cemphbg: #0b91;
}

@media (prefers-color-scheme: dark) {
	html[data-theme='light'] {
		/* foreground   | background color */
		--cfg:   #cecbc4; --cbg:    #252220;
		--cdark: #999;    --clight: #333;
		--cmed:  #566;
		--clink: #1ad;
		--cemph: #0b9;    --cemphbg: #0b91;
	}	
}
