{% extends "base.j2" %}

{% block content %}

  {% match title %}
    {% when Some with (title) %}
      <h1>{{ title }}</h1>
    {% when None %}
  {% endmatch %}

  {{ content|safe }}

{% endblock %}
