{% for item in history %}
<div style="margin-bottom: 20px">
  <div>{{ item.statement_text }}</div>
  <input type="hidden" value="{{ item.statement_id }}" />
  <div>
    Your Vote: {% if item.vote == 1 %} Yes {% else if item.vote == -1 %} No {%
    endif %}
  </div>
  <div>{{ self.human_relative_time(item.timestamp) }}</div>
</div>
{% endfor %}
