{% extends "base.j2" %}

{% block content %}

  <h1>Recent Votes</h1>

  {% if history.len() == 0 %}
    <p>You have not submitted any votes yet</p>
  {% endif %}
  {% for item in history %}
    <div class="card info">
      <p>{{ item.statement_text }}</p>

      <p>
        Your Vote:
        {% if item.vote == 1 %}
          Yes
        {% else if item.vote == -1 %}
          No
        {% endif %}
      </p>
      <p>{{ self.human_relative_time(item.vote_timestamp) }}</p>

      <input type="hidden" value="{{ item.statement_id }}" />

      <a href="/new?target={{ item.statement_id }}">Reply</a>

    </div>
  {% endfor %}

{% endblock %}
