<form method="post" action="/">

	<input type="hidden" value="{{ statement.id }}" name="statement_id" />
	<div>
		Do you agree with?
	</div>

	<p>
		{{ statement.text }}
	</p>

	<div>
		<button name="vote" value="1">Yes</button>
		<button name="vote" value="0">Skip</button>
		<button name="vote" value="-1">No</button>
	</div>

</form>
