{% if let Some(statement) = statement %}
<div>Do you agree with?</div>

<p>{{ statement.text }}</p>

<div>
  <form method="post" action="/">
    <input type="hidden" value="{{ statement.id }}" name="statement_id" />
    <button name="vote" value="1">Yes</button>
    <button name="vote" value="0">Skip</button>
    <button name="vote" value="-1">No</button>
  </form>
</div>
{% else %}
<div>There are no statements to vote on.</div>
{% endif %}

<a href="/new">Add a statement</a>
