<nav>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/new">Add a statement</a></li>
    <li><a href="/history">Your recent votes</a></li>
    <li><a href="/submissions">Your submissions</a></li>
  </ul>
</nav>
