{% extends "base.j2" %}

{% block content %}

  <h1>New statement</h1>

  <form method="post" action="/new">
    <textarea style="min-width: 80%" name="statement_text"></textarea>
    <div>
      <button>Add Statement</button>
    </div>
  </form>

{% endblock %}
