{% extends "base.j2" %}

{% block content %}

  <h1>Options</h1>

  <!-- <form method="post" action="/options"> -->
  <fieldset>
    <p>Use this QR Code on another device to switch it to this account:</p>
    <img id="qr-code" src="data:image/svg+xml;base64,{{ qr_code }}">
    <br />
    <small>Or open <a href="{{ merge_url }}">{{ merge_url }}</a> on your other device</small>
  </fieldset>
  <form id="theme-form" method="post" action="/options" _="on test call me.requestSubmit()">
    <fieldset>
      <label for="theme" >theme</label>
      <select id="theme" name="theme" _="on change send test to #theme-form">
        <option value="light" {% if base.theme == "light" %}selected{% endif %}>Light</option>
        <option value="dark" {% if base.theme == "dark" %}selected{% endif %}>Dark</option>
      </select>
    </fieldset>
  </form>


{% endblock %}
