{% extends "base.j2" %}

{% block content %}
  {% if let Some(statement) = statement %}
    <div class="card info">
      <p><b>{{ statement.text }}</b></p>
      <div class="row" >
        <div class="col">
          <form method="post" action="/vote">
            <input type="hidden" value="{{ statement.id }}" name="statement_id" />
            <button name="vote" value="1">Agree</button>
            <button name="vote" value="0">Skip</button>
            <button name="vote" value="-1">Disagree</button>
          </form>
        </div>
      </div>
    </div>

  {% else %}
    <div>Statement not found.</div>
  {% endif %}

{% endblock %}
