<div><a href="/">Home</a></div>
<div><b>Your Submissions</b></div>
{% for item in submissions %}
<div style="margin-bottom: 20px">
  <div>{{ item.statement_text }}</div>
  <input type="hidden" value="{{ item.statement_id }}" />
  <div>{{ self.human_relative_time(item.author_timestamp) }}</div>
</div>
{% endfor %}
